.footer {
    background-color: #092532;
    padding: 4% 10% 2%;
}
.contact-details{
  text-align: center;
}
.contact-us {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1rem;
    color: white;
    padding: 2% 15%;
}
.contact-text {
    font-size: 0.8rem;
    line-height: 1.5;
    letter-spacing: 0.2rem;
    color: white;
    opacity: 0.5;
}

.contact-divider{
  width: 40%;
  padding: 1rem;
  border-color: #c7e2b2;
  opacity: 0.5;
}

.contact-icons{
    color: #c7e2b2;
    padding: 0 3% 1%;
}

.fa-facebook-square:hover{
    color: #3b5998;
    transition: 0.3s;
}
.fa-instagram:hover{
    color: white;
    transition: 0.3s;
}
.fa-envelope:hover{
    color: #D44638;
    transition: 0.3s;
}
.fa-twitter:hover{
    color: #00acee;
    transition: 0.3s;
}

.copyright{
    font-size: 0.7rem;
    line-height: 0;
    letter-spacing: 0.3rem;
    color: white;
    opacity: 0.5;
}

@media (max-width: 600px) {

  .footer {
      padding: 2% 5%;
  }
  .contact-us {
      font-family: 'Ubuntu', sans-serif;
      letter-spacing: 0.7rem;
      color: white;
      padding: 2% 7%;
  }


}
