.nav-div-fixed{
    width: 100%;
    position: fixed;
    z-index: 20;
}
.main-div {
    overflow: hidden;
    margin: 0;
}

.front-parent-div {
    margin-top: 82px;
    background-color: #303030;
    padding: 0 15% 2%;
}
.btn-div{
    color: #e0e0e0;
    margin: 0.5rem 1rem 0 0;
}

#front-carousel{
  box-shadow: 0 0 10px black;
}
.carousel-indicators{
  padding-bottom: 0.8rem;
  margin-bottom: 0
}
.carousel-caption{
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  bottom: 0;
}
.slide-btn{
  background-color: rgba(255, 255, 255, 0.1);
}

#about-section{
  background-color: #f0f0f0;
  text-align: center;
  padding: 8% 7%;
}

.about-heading{
  font-family: 'Righteous', cursive;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 0.6rem;
  padding: 0 0 3%;
}
.about-img{
  padding: 3%;
  width: 100px;
  height: 100px;
}

#pricing-section {
    box-shadow: -1px 0 5px black;
    background: #202020;
    color: white;
    padding: 5% 7%;
    text-align: center;
}

.pricing-heading{
    color: #ffef00;
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 1rem;
    padding: 2% 0;
}

.pricing-card{
    background-color: #101010;
    border-radius: 2%;
    height: 19rem;
}

.card-header{
    color: #ffe100;
    font-family: 'Ubuntu', sans-serif;
}
.card-body{

}
.price-text{
    padding: 2%;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1.2;
}
.pricing-col{
    padding: 3% 2%;
}
.trial-text{
    line-height: 2;
    padding: 0 10%;
}

.signUp-button-from-pricing {
    text-decoration: none !important;
}

@media (max-width: 991px) {

  .front-parent-div{
    padding: 0 0;
  }
  .about-heading{
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    padding: 2% 0 4%;
  }
  .pricing-heading{
    font-size: 3rem;
    letter-spacing: 0.8rem;
  }

}

@media (max-width: 600px) {

  .about-heading{
    font-size: 2rem;
    letter-spacing: 0.3rem;
    padding: 2% 0 3%;
  }
  .pricing-heading{
    font-size: 2.7rem;
    letter-spacing: 0.6rem;
  }

}
