
.items-in-cart{
    box-shadow: 0 0 3px #94bd75;
    background-color: #e1ffc2;
    padding: 0.5rem;
    border-radius: 3px;
  }
.item-name{
  display: inline-block;
  font-family: 'Noto Serif', serif;
  font-size: 1.5rem;
}
.item-qty{
  padding: 0.5rem 0.5rem 0;
  font-family: 'Ubuntu', sans-serif;
  float: right;
  font-size: 1.2rem;
}
.item-price{
  margin: 1rem 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}
.cart-btn{
  margin: 0 1.1%;
  font-family: 'Ubuntu', sans-serif;
  width: 31%;
  background-color: #092532;
  color: #e1ffc2;
  border-radius: 3px;
  border: 0;
}
.remove-btn:hover{
  transition: 0.2s;
  background-color: #d61111;
}
.minus-btn:hover{
  transition: 0.2s;
  background-color: #ffaa00;
}
.plus-btn:hover{
  transition: 0.2s;
  background-color: #3ccc0c;
}
