/*.card-for-item {
    margin: 1% 0.5%;
    float: left;
    border: 0;
}
.card-body{
  border-radius: 5px;
  background-color: #e1ffc2;
  padding-left: 1rem;
}
.item-name{
  display: inline-block;
  font-family: 'Noto Serif', serif;
  font-size: 1.5rem;
}
.vnv-id{
  width: 3rem;
  float: right;
}
.item-price{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}
.item-quantity{
  float: right;
  padding-right: 0.5rem;
}
.card-footer{
  background-color: #e1ffc2;
}
.add-to-cart{
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  background-color: #092532;
  color: #e1ffc2;
  border-radius: 2px;
  border: 0;
}
.add-to-cart:hover{
  background-color: #8be0ca;
}
@media (max-width: 900px)
{
  .item-name{
    font-size: 1.3rem;
  }
  .vnv-id{
    width: 2rem;
  }
  .item-description{
    font-size: 0.9rem;
  }
  .card-footer{
    background-color: #e1ffc2;
    padding: 1% 2% 2%;
  }
  .qty-div{
    text-align: center;
    width: 49%;
    padding-top: 0.5rem;
    display: inline-block;
    height: 3rem;
  }
}
*/
