.show-menu-cards {
    margin: 1% 0.5%;
    float: left;
    border: 0;
    width: 49%;
    border-radius: 6px;
}

.show-menu-cards .card-body{
  border-radius: 5px 5px 0 0;
  background-color: #303030;
}
.show-menu-cards .item-name{
  display: inline-block;
  font-family: 'Noto Serif', serif;
  font-size: 1.5rem;
}
.show-menu-cards .vnv-id{
  width: 3rem;
  float: right;
}
.show-menu-cards .item-description{
  font-size: 0.9rem;
  height: 2rem;
  line-height: 1.3;
}
.show-menu-cards .item-price{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}
.show-menu-cards .item-quantity{
  float: right;
  padding-right: 0.5rem;
}
.show-menu-cards .card-footer{
  background-color: #202020;
  padding: 0;
  border-radius: 0 0 5px 5px;
  border: 0;
}
.show-menu-cards .add-to-cart{
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  background-color: #202020;
  border-radius: 0 0 5px 5px;
  border: 0;
}
.add-to-cart:hover{
  background-color: #64d115;
  color: black;
}
.show-menu-cards .add-to-cart::after{
  background-color: #64d115;
}

@media (max-width: 900px)
{
  .show-menu-cards .item-name{
    font-size: 1.3rem;
  }
  .show-menu-cards .vnv-id{
    width: 2rem;
  }
  .show-menu-cards .item-description{
    font-size: 0.8rem;
    line-height: 1.2;
  }
  .show-menu-cards .item-price{
    padding-bottom: 0.5rem;
  }
  .show-menu-cards .card-footer{
    background-color: #202020;
    padding: 1% 2% 2%;
  }
  .show-menu-cards .qty-div{
    text-align: center;
    width: 49%;
    padding-top: 0.5rem;
    display: inline-block;
    height: 3rem;
  }
}
@media (max-width: 476px){
  .show-menu-cards .card-body{
    height: 12rem;
  }
  .show-menu-cards {
      margin: 1% 0.5%;
      float: left;
      border: 0;
      width: 98%;
      border-radius: 6px;
  }

}
