.log-out-button {
    background-color: unset;
    border: 0.5px solid;
    border-color: #092532;
    color: #89c9b8;
    margin-right: 2rem;
    margin-top: 0.35rem;
}

.log-out-button:hover {
    background-color: unset;
    color: #c7e2b2;
    border: 0.5px solid;
    border-color: #89c9b8;
}

@media (max-width: 991px){

  .log-out-button {
      margin-right: 0;
      margin-bottom: 1rem;
  }

}
