.card-for-item {
    margin: 1% 0.5% 2rem;
    float: left;
    border: 0;
}
.card-body{
  border-radius: 5px;
  background-color: #e1ffc2;
  padding: 1rem;
  height: 9rem;
}
.item-name{
  display: inline-block;
  font-family: 'Noto Serif', serif;
  font-size: 1.5rem;
}
.vnv-id{
  width: 3rem;
  float: right;
}
.card-footer{
    padding: 0 0.5rem 0 1rem;
}
.item-price{
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}
.cardBtn-div{
  float: right;
  margin-top: 0.5rem;
}
.card-btn{
    font-family: 'Ubuntu', sans-serif;
    background-color: #092532;
    color: #e1ffc2;
    border: 0;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
}
.edit-btn:hover{
    transition: 0.2s;
    background-color: #efff0d;
    color: #092532;
}


@media (max-width: 900px)
{
  .item-name{
    font-size: 1.3rem;
  }
  .vnv-id{
    width: 2rem;
  }
  .item-description{
    font-size: 0.9rem;
  }
  .qty-div{
    text-align: center;
    width: 49%;
    padding-top: 0.5rem;
    display: inline-block;
    height: 3rem;
  }
}


@media (max-width: 600px){
  .item-price{
      font-family: 'Ubuntu', sans-serif;
      font-size: 0.9rem;
  }
  .card-btn{
      font-size: 0.8rem;
      border-radius: 3px;
      padding: 0.3rem 0.8rem;
      margin: 0 0.4rem;
  }
}
