.parent-div {
    overflow: hidden;
}
.profile-info{
  font-family: 'Ubuntu', sans-serif;
  background-color: #e1ffc2;
  padding: 5% 9% 10%;
}
.profile-image {
    margin-bottom: 3%;
    width: 115px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 4px #092532;
}
.profile-divider{
  text-align: left;
  padding: 1% 0;
  border-color: #092532;
  opacity: 0.5;
}
.verify-btn{
  background-color: #61ad99;
  border-color: #61ad99;
}
