.parent-div {
    overflow: hidden;
}
.profile-info{
  font-family: 'Ubuntu', sans-serif;
  background-color: #e1ffc2;
  padding: 5% 9% 10%;
}
.profile-image {
    margin-bottom: 3%;
    width: 115px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 4px #092532;
}
.profile-divider{
  text-align: left;
  padding: 1% 0;
  border-color: #092532;
  opacity: 0.5;
}
.email-container{
  color: #737373;
  padding-left: 1rem;
  background-color: #fff;
  width: 69%;
  border: 1px solid;
  border-radius: 3px;
  border-color: #d9d9d9;
}
.phno-container{
  width: 100%;
}
.verify-btn{
  background-color: #61ad99;
  border-color: #61ad99;
  height: 2.5rem;
}

@media (max-width: 670px){

  .profile-info{
    padding: 20% 10%;
  }
  .email-container{
    width: 25rem;
  }
  .phno-container{
    width: 25rem;
  }
  .verify-btn{
    margin: 4% 33%;
  }

}
