.retaurant-col{
  background-color: #e1ffc2;
}

.add-restaurant-button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
    width: 100%;
    height: 4rem;
    background-color: #c7e2b2;
    color: #092532;
    border: 0;
    border-radius: 0;
}
.add-restaurant-button:hover{
    background-color: #092532;
    color: #e1ffc2;
}
.col-heading{
    padding: 1rem 0;
    margin: 0;
    border: 1px solid #c7e2b2;
}
.main-container .retaurant-col{
    padding: 0;
}
.main-container .menu-col{
    padding: 0;
}
.restaurant-list {
    height: auto;
    margin: 0;
    border: 1px solid #ccc;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.address-text-area {
    resize: none;
}

.div-to-show-menu {
    background-color: #ecffd9;
    height: 52rem;
    border: 1px solid grey;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (max-width: 767px){
  .parent-div{
    background-color: #092532;
  }
  .main-container .menu-col{
      margin-top: 1rem;
  }

}
