.restaurant-name-holder {
    padding: 0.9rem 1rem;
    margin: 0;
    color: white;
    cursor: pointer;
}
.restaurant-name-holder:hover{
    background-color: #282828;
}

.drop-down-options ul {
    width: auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    margin: 1% 30%;
    padding: 0.1rem 0.3rem;
    border-radius: 3px;
    text-align: center;
    list-style: none;
    position: relative;
    z-index: 1;
    color: #ffe100;
    cursor: pointer;
    background: #202020;
    box-shadow: 0 0 5px black;
}
.drop-down-options ul:hover{
  background-color: black;
  color: #ffe100;
}
.qr-code-div a canvas {
    display: block;
    margin: auto;
}

.qr-code-div {
    text-align: center;
}
