.show-menu-main-div {
    overflow: hidden;
    background-color: #c7e2b2;
    height: 45rem;
}

.menu-category {
    height: 3.7rem;
    margin: 0 1.5%;
}
.menu-category ul{
    display: block;
    padding: 0;
    margin: 2px 0 0;
}
.menu-category ul li{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    list-style: none;
    float: left;
    padding: 1% 2%;
    margin: 2px 0.2rem 0;
    cursor: pointer;
}
.menu-category ul li:hover{
    transition: 0.4s;
    background-color: #092532;
    color: #e1ffc2;
}
.items-card {
    margin: 0 1%;
}

.cart-option {
    border-radius: 28px 3px 3px 28px;
    margin: 5px 0 0;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
}
.cart-option:hover{
    transition: 0.4s;
    background-color:  #092532;
    color: #e1ffc2;
}
.cart-icon{
    padding: 1.5rem 0 0;
}
.cart-items {
    text-align: center;
    font-size: 0.8rem;
    position: absolute;
    margin-top: 0.5rem;
    background-color: #f09d51;
    padding: 1% 3%;
    border-radius: 10%;
    color: #fff;
}
